@page
@model PrivacyModel
@{
    ViewData["Title"] = "Premium Calculator";
}
<h1>@ViewData["Title"]</h1>

<form>
    <div class="form-floating mb-3">
      <input type="number" class="form-control" id="age" placeholder="42">
      <label for="age">Account holder age</label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="location" placeholder="e. g. 'urban' or 'rural'">
      <label for="location">Account holder location</label>
    </div>

    <button type="button" class="btn btn-outline-success btn-lg">Calculate</button>
</form>
