@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Software Quality And Testing Assignment</h1>
    <p>Developped by Matthieu Thevenon and Sofiane Meftah.</p>
    <a asp-area="" asp-page="/CalcPremium" class="btn btn-success btn-lg">Calculate your premium now</a>
</div>